<div>
    <p> Suggestions <%= user.suggestions.length %></p>
    <p> Up Votes Given <%= user.up_votes.length %></p>
    <p> Users Supported <%= user.supports.to_a.uniq.length %></p>
    <p> Up Votes Recieved <%= user.suggestions_up_voted.length %></p>
    <p> Supporters <%= user.suggestions_up_voted.to_a.uniq.length %></p>
</div>
