<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<% if @user %>
  <h2>Hey <b><%=@user.name%></b>, you are logged in</h2>
<% end %>

<a href="/users/logout">Log out</a>

<br>
<br>

<p> You can give us a suggestion in the box below, or read the current suggestions <br> </p>

      <form action="/suggestions/login" method="post">
        <b> &nbsp; Title *</b><br>
        <textarea name="suggestion[title]" rows="1" col="10"></textarea><br>
        <b> &nbsp; Description *</b><br>
        <textarea name="suggestion[description]" rows="3" col="10"></textarea> <br>
        <input type="submit" value="Submit">
      </form>
      <p> &nbsp; <b>*: required field</b></p>

<br>

<div id="own-suggestions">
  <% if @user_own_suggestions %>
  <h4><b>Your own</b> suggestions</h4>
    <ul>
      <% @user_own_suggestions.reverse.each do |suggestion| %>
      <li>
        <a href="/suggestions/<%= suggestion.id %>"><%= suggestion.title %> </a> |
        Created at: <%= suggestion.created_at %> |
        <a href="#delete">delete</a> | <a href="#edit">edit</a>

        <div class="delete-suggestion" style="display: none">
          <form action="/suggestions/<%= suggestion.id %>" method="post">
            <p>Click below to confirm the deletion of this suggestion | Or <a href="#hide-delete">hide</a> </p>
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete">
          </form>
        </div>

      </li>
      <!-- Hidden on load -->
    <% end %>
    </ul>
  <% else %>
  <p>You have no suggestions so far: <a href="#">Create one</a></p>

  <% end %>
</div>


<div id="others-suggestions">
  <% if @user_other_suggestions %>
  <h4><b>Other</b> users' suggestions</h4>
    <ul>
      <% @user_other_suggestions.reverse.each do |suggestion| %>
       <li> <a href="/suggestions/<%= suggestion.id %>"><%= suggestion.title %></a> | Created at: <%= suggestion.created_at %></li>
      <% end %>
    </ul>
  <% else %>
  <p>There are no suggestions so far: <a href="#">Create one</a></p>
  <% end %>
</div>





</body>
