<h1>All Suggestions</h1>
<% @suggestions.each do |suggestion| %>
  <ul>
    <h3><a href="<%="/suggestions/#{suggestion.id}"%>"><%=suggestion.title%></a></h3>
    <li><%=suggestion.description%></li>
  </ul>
  <div>
    <form action ="/suggestions/<%=suggestion.id%>/upvote" method="post" id="upvote">
    <input type="hidden" name="suggestion_id" value="<%= params[:id] %>">
    <button id="button" type="submit" name="submit" value="submit_value"</button>

    <form action ="/suggestions/<%=suggestion.id%>/downvote" method="post" id="downvote">
    <input type="hidden" name="suggestion_id" value="<%= params[:id] %>">
    <button id="button" type="submit" name="submit" value="submit_value"</button>
  </div>
<% end %>

<p><a href="<%="/users/#{@user.id}"%>">Back to profile</a></p>


