<div class="container">
  <h2>Welcome, <%= current_user.username %>!</h2>
  <h3><a href='/suggestions/new'>New Suggestion</a></h3>
  <% @suggestions.each do |s| %>
  <% if own_suggestion?(s) %>
  <ul>
    <li><%= s.title %> - <%= s.description %><a href="/suggestions/<%= s.id %>"> details</a></li>
  </ul>
  <% else %>
  <ul>
    <li><%= s.title %> - <%= s.description %> </li>
  </ul>
  <% end %>
  <% end %>
</div>
