<h1>WELCOME TO THE SUGGESTION BOX!!!!!</h1>

<a href="suggestions/new">CREATE A NEW SUGGESTION</a>
<br>
<br>
<% @suggestion.each do |suggestion| %>
  <h2>Title: <%= suggestion.title %></h2>
  <a href="suggestions/<%= suggestion.id %>">More Information about the suggestion</a>
  <br>
  <form method="POST" action="/suggestions/<%= suggestion.id %>/upvote">
  	<button type="submit">Upvote</button>
  </form>

  <form method="POST" action="/suggestions/<%= suggestion.id %>/downvote">
  	<button type="submit">Downvote</button>
  </form>

  <h3>Votes: <%= suggestion.votes %></h3>
    <% if owns_suggestion(suggestion) %>
      <a href="suggestions/<%= suggestion.id %>/edit">Edit a Suggestion</a>
      <br>
      <%= erb :'/suggestions/_delete', layout: false, locals: { suggestion: suggestion} %>
  <% end %>
    <a href="comments/new">Create a comment</a>

<% end %>
<br>
<br>
<br>
<% if session[:user_id] %>
  <a href="/sessions/logout">Logout</a>
<% end %>
