<section id="sidebar" class="sidebar">
  <h1 class="sidebar-heading">
    Give a Suggestion
  </h1>
    <p>
  <div style="color: DodgerBlue">
    <h4>
      Submit the form below to submit a suggestion. If you would like to post anonymously, omit your username.
    </h4>
  </div>
    </p>
</section>



<section id="suggestion" class="content-left">
  <ul id="suggestion-list" class="suggestion-list">
    <% @suggestions.each do |suggestion| %>
      <li class="suggestion-list-item">

      <h3>User:<%= suggestion.user_id%></h3>
      <h4>Title: <%= suggestion.title%></h4>
      <a href="suggestions/<%= suggestion.id %>">Details</a>

      <p>Description: <%= suggestion.description%></p>

      <form method="POST" action="/suggestions/<%= suggestion.id %>/thumbs_up">
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" class="button" value="Thumbs Up">
      </form>

      <form method="POST" action="/suggestions/<%= suggestion.id %>/thumbs_down">
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" class="button" value="Thumbs Down">
      </form>

        <% if authorship_tagline(suggestion) %>
        <a href="suggestions/<%= suggestion.id %>/edit">Edit Suggestion</a>
        <br>

       <!--  <h5>
        <%= erb :'/index', layout: false %>
        </h5> -->
        <% end %>

    <% end %>
    <br>
    <br>
    <br>
    <% if session[:user_id] %>
      <a href="/session/delete">Logout</a>
    <% end %>
      </li>
  </ul>
</section>

<%= erb :'suggestions/new' %>










