<!-- if own_suggestion?(suggestion) working in controller. Possibly refactor below logic to not include if/else logic-->

<div class="container">
  <h2>All Suggestions</h2>
</div>
<div class="container" id="sug-btn-div">
  <form class="flex flex-column" id="new-btn"method="GET" action="/suggestions/new" >
    <button type="submit" class="btn waves-effect waves-light">Add New Suggestion</button>
  </form>
  <br>
</div>
<!-- <div class="container">
  <h3 id="new-sug-btn"><a id="a"href='/suggestions/new'>New Suggestion</a></h3>
 </div> -->

 <div class="container">
  <% @suggestions.each do |s| %>
  <% if own_suggestion?(s) %>
  <ul class="collection">
    <li class="collection-item"><%= s.title %> - <%= s.description %>- <a href="/suggestions/<%= s.id %>">details</a>  </li>
  </ul>
  <% else %>
  <ul class="collection">
    <li class="collection-item"><%= s.title %> - <%= s.description %></li>
  </ul>
  <% end %>
  <% end %>
</div>

