<h1>All Suggestions</h1>
<% @suggestions.each do |suggestion| %>
  <ul>
    <h3><a href="<%="/suggestions/#{suggestion.id}"%>"><%=suggestion.title%></a></h3>
    <li><%=suggestion.description%></li>
  </ul>
  <div>
    <p>Thumbs Up:</p>
    <form action ="/suggestions/<%=suggestion.id%>/upvote" method="post" id="upvote">
    <input type="hidden" name="suggestion_id" value="<%= params[:vote] %>">
    <button id="button" type="submit" name="submit" value="submit_value"</button>
  </div>
<p>Total Thumbs Ups: <%=suggestion.votes.count%></p>
<% end %>


<p><a href="<%="/users/#{@user.id}"%>">Back to profile</a></p>


