<center>
  <h1>Inspirational vibes coming your way!</h1>

  <div>
    <h3><%= @suggestion.title %></h3>
    <h3><%= @suggestion.description %></h3>
  </div>

  <br>
  <a href="/suggestions/<%= @suggestion.id%>/edit">Edit Suggestion</a>
  <form action="/suggestions/<%= @suggestion.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Suggestion">
  </form>
  <a href="/users/<%= @user.id %>">Profile Page</a>
</center>
