<div class="container">
  <h4> <%= @suggestion.title%> </h4>
    <p> <%= @suggestion.description%> </p>
    <div>
      <p>____________________________________________</p>
      <br><br><br>
      <p>This is where suggestion-comments will go</p>
      <br><br><br>
      <p>____________________________________________</p>
    </div>

    <div>
      <form action="#" method="post">
        <textarea type="text" name="comment" cols="45" rows="5" placeholder="Comment"></textarea>
        <br>
        <input type="submit" value="add comment">
      </form>
      <br><br><br> <br><br><br>
    </div>

    <% if logged_in? && own_suggestion? %>
      <div>
        <small><a href="/suggestions/<%=@suggestion.id%>/edit">Edit Suggestion</a></small>
        <form action="/suggestions/<%= @suggestion.id %>" method="post">
          <input type="hidden" id="hidden" name="_method" value="delete">
          <input type="submit" class="btn btn-danger" value="Delete!">
        </form>
      </div>
    <% elsif logged_in? %>
      <p></p>
    <%else%>
      <p><a href="/sessions/new">Log in</a> to edit or post a new suggestion</p>
    <%end%>

</div>

<p>DEBUGGING: <%= @suggestion.attributes %></p>
