<h3><%= @suggestion.title %></h3><br>

<p><%= @suggestion.body %></p>

 <!-- erb :"up_votes/_up_vote", layout: false, locals: {suggestion: @suggestion } -->

<% if own_suggetion?(@suggestion) %>
  <a href="/suggestions/<%= @suggestion.id %>/edit">Edit</a>
  <%= erb :"suggestions/_delete", layout: false, locals: {suggestion: @suggestion} %>
<% end %>

<% if already_up_voted?(@suggestion, current_user) %>
  <%= erb :"up_votes/_delete", layout: false, locals: {suggestion: @suggestion} %>
<% else %>
  <%= erb :"up_votes/_up_vote_form", layout: false, locals: {suggestion: @suggestion} %>
<% end %>

<br><br>
<a href="/">Home</a>
